@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import 'variable';
/* Reset Css */ 

@mixin circleStyle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $object-color-1;
    clip-path: circle(60% at right -20%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: $main-text-color;

} 

section {
    position: relative;    
    height: 100vh;
    width: 100vw;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $main-bg-color;
}
section .circle1 {
    @include circleStyle();
   
}
section .circle2 {
    @include circleStyle();    
    background: #fff;
    clip-path: circle(20% at bottom left);    
}

section header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    max-width: 150px;
}
header .nav-bar {
    display: flex;
    justify-content: space-between;  
}

header .nav-bar li{
    list-style: none;
}
header .nav-bar li a {   
    display: block; 
    line-height: 50px;
    text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
header .nav-bar li a:hover {
    font-size: 1.1em;
}
section .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.content .textBox {
    position: relative;
    width: 700px;
    max-width:700px;
    margin-right: 20px;
}
.content .textBox h2 {
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: bold;
}
.content .textBox p {
    font-size: 1em;
    letter-spacing: 1px;
}
.content .textBox a {
    display:inline-block;
    margin-top: 30px;
    padding: 8px 20px;
    background-color: $object-color-1;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    transition-property: letter-spacing;
}
.content .textBox a:hover {
    letter-spacing: 4px;
}
.social {
    position: absolute;
    bottom: 20px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li {
    list-style: none;
}
.social li a {
    display: inline-block;
    margin: 0 30px;    
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s ;
}
.social li a:hover {
    background-color: $object-color-1;
    transform: translateY(-15px);
}
.social li a img {
    filter: invert(1);
}


// ###########
// ##Silder###
// ###########

.content .imgBox {
    position: relative;
    width: 700px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    box-sizing: border-box;
}
.content .imgBox img {
    max-width: 150px;
}
.swiper-container {
    
    width:100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-wrapper {
    
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
   
}
.swiper-slide img {
    position: absolute;
    bottom: 0;
    max-height: 100%;

}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background: none;
}

@media (max-width: 900px){
    header .nav-bar {
        display: none;
    }
    header .nav-bar.active {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background: $object-color-1;
        width: 100%;
        height: 100vh;        
        z-index: 1;
    }
    header .nav-bar li a {
        margin: 20px 0;
        font-size: 1.1em;

    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url("./images/menu.png") no-repeat center;
        cursor: pointer;
      

        z-index: 2;
    }
    .toggle.active {
        background: url("./images/close.png") no-repeat center;
    }
    section {
       padding: 150px 40px;

    }
    header {
        padding: 40px;
    }
    .content {
        flex-direction: column;
    }
    .social {
        left: 40px;
    }
    .content .textBox {
        max-width: 100%;
    }
}